# 데이터 불러오기

In [92]:
import pandas as pd

df = pd.read_csv('시군구_원핫놉.csv')
df.shape

(3159, 31)

# 그 동네에 사고건수가 2개 이하 일어난 동네만 가져옴

In [93]:
df['시군구_구동'].value_counts().tail(39).index

Index(['중구 서문로1가', '중구 전동', '동구 율암동', '중구 북성로1가', '중구 시장북로', '중구 화전동',
       '군위군 군위읍', '수성구 욱수동', '중구 수동', '중구 남성로', '군위군 의흥면', '중구 인교동', '수성구 삼덕동',
       '북구 검단동', '동구 숙천동', '중구 사일동', '중구 서문로2가', '중구 동성로1가', '수성구 고모동',
       '중구 서성로2가', '중구 교동', '중구 서야동', '중구 서성로1가', '동구 용수동', '북구 동호동', '중구 달성동',
       '동구 사복동', '중구 계산동1가', '달성군 하빈면', '동구 도학동', '수성구 대흥동', '북구 금호동',
       '군위군 효령면', '군위군 우보면', '동구 미곡동', '중구 문화동', '북구 고성동1가', '동구 부동',
       '중구 동문동'],
      dtype='object', name='시군구_구동')

# 그 동네에 사고건수가 2개 이하 일어난 동네만 삭제

In [94]:
values_to_remove = ['중구 서문로1가', '중구 전동', '동구 율암동', '중구 북성로1가', '중구 시장북로', '중구 화전동',
       '군위군 군위읍', '수성구 욱수동', '중구 수동', '중구 남성로', '군위군 의흥면', '중구 인교동', '수성구 삼덕동',
       '북구 검단동', '동구 숙천동', '중구 사일동', '중구 서문로2가', '중구 동성로1가', '수성구 고모동',
       '중구 서성로2가', '중구 교동', '중구 서야동', '중구 서성로1가', '동구 용수동', '북구 동호동', '중구 달성동',
       '동구 사복동', '중구 계산동1가', '달성군 하빈면', '동구 도학동', '수성구 대흥동', '북구 금호동',
       '군위군 효령면', '군위군 우보면', '동구 미곡동', '중구 문화동', '북구 고성동1가', '동구 부동',
       '중구 동문동']

df = df[~df['시군구_구동'].isin(values_to_remove)]
df.shape

(3104, 31)

# 시군구별 cctv 카운트

In [96]:
df100 = df[['year', 'cctv_count','시군구_구동']]
df200 = df100.drop_duplicates()
df300 = df200[['cctv_count', '시군구_구동']]
df400 = df300.groupby("시군구_구동").sum()
df400

          cctv_count
시군구_구동
남구 대명동         206.0
남구 봉덕동          73.0
남구 이천동          23.0
달서구 갈산동          2.0
달서구 감삼동         46.0
...              ...
중구 수창동           6.0
중구 태평로1가         2.0
중구 태평로2가         0.0
중구 태평로3가         3.0
중구 포정동           0.0

[133 rows x 1 columns]

# cctv 기술통계량 확인

In [97]:
df400.describe()

       cctv_count
count  133.000000
mean    20.676692
std     26.057788
min      0.000000
25%      4.000000
50%     12.000000
75%     30.000000
max    206.000000

# 시군구별 epdo 평균값

In [98]:
df1 = df[['EPDO', '시군구_구동']]
df2 = df1.groupby("시군구_구동").mean()
df2

              EPDO
시군구_구동
남구 대명동    4.514124
남구 봉덕동    4.937500
남구 이천동    5.000000
달서구 갈산동   4.500000
달서구 감삼동   5.420000
...            ...
중구 수창동    2.714286
중구 태평로1가  5.500000
중구 태평로2가  2.750000
중구 태평로3가  5.111111
중구 포정동    6.250000

[133 rows x 1 columns]

In [100]:
df2.describe()

             EPDO
count  133.000000
mean     4.881698
std      1.187002
min      2.625000
25%      4.240000
50%      4.700000
75%      5.333333
max      9.333333

1. 중구 수창동
2. 달서구 대천동
3. 서구 이현동

# 시군구별 사고건수

In [104]:
count_values = df1.groupby('시군구_구동').size()
count_values

시군구_구동
남구 대명동      177
남구 봉덕동       48
남구 이천동       23
달서구 갈산동       4
달서구 감삼동      50
           ...
중구 수창동        7
중구 태평로1가      4
중구 태평로2가      4
중구 태평로3가      9
중구 포정동        4
Length: 133, dtype: int64

In [105]:
# 시군구_구동별 그룹 크기 계산
count_values = df1.groupby('시군구_구동').size()

# count_values를 데이터프레임으로 변환하고 인덱스를 시군구_구동으로 설정
count_df = count_values.reset_index(name='개수')

# 인덱스를 시군구_구동으로 설정
count_df.set_index('시군구_구동', inplace=True)
count_df

           개수
시군구_구동
남구 대명동    177
남구 봉덕동     48
남구 이천동     23
달서구 갈산동     4
달서구 감삼동    50
...       ...
중구 수창동      7
중구 태평로1가    4
중구 태평로2가    4
중구 태평로3가    9
중구 포정동      4

[133 rows x 1 columns]

# 변수들 범주화

In [107]:
df.columns

Index(['사고번호', '사고일시', '요일', '시군구', '사고내용', '법규위반', '노면상태', '기상상태', '가해운전자 성별',
       '가해운전자 상해정도', '피해운전자 차종', '피해운전자 성별', '피해운전자 상해정도', 'EPDO', '사고유형_1',
       '사고유형_2', '시군구_구', '시군구_동', '시군구_구동', '사고일시_연도', 'cctv_count',
       'bus_count', '주차장_count', '어린이보호구역_count', '가해운전자 연령대', '피해운전자 연령대',
       '사고시간대', 'year', 'month', 'day', '도로형태'],
      dtype='object')

In [108]:
df = df[['시군구_구동' , '요일', '법규위반', '노면상태', '기상상태', 'EPDO', '사고유형_1', 'cctv_count',
       'bus_count', '주차장_count', '어린이보호구역_count', '가해운전자 연령대', '피해운전자 연령대',
       '사고시간대','도로형태']]
df.head()

,시군구_구동,요일,법규위반,노면상태,기상상태,EPDO,사고유형_1,cctv_count,bus_count,주차장_count,어린이보호구역_count,가해운전자 연령대,피해운전자 연령대,사고시간대,도로형태
0,수성구 중동,일요일,보행자보호의무위반,건조,맑음,6,차대사람,7.0,1.0,1.0,3.0,중년,노년,새벽,단일로 - 기타
1,북구 침산동,화요일,안전운전불이행,건조,맑음,6,차대차,17.0,3.0,25.0,6.0,노년,중년,점심,기타 - 기타
2,서구 내당동,수요일,신호위반,건조,맑음,12,차대차,9.0,3.0,0.0,8.0,중년,청년,점심,교차로 - 교차로안
3,중구 대신동,수요일,안전운전불이행,건조,맑음,1,차대차,5.0,1.0,10.0,1.0,청년,청년,점심,단일로 - 기타
4,달서구 본리동,수요일,안전운전불이행,건조,맑음,6,차대사람,12.0,1.0,6.0,7.0,청년,노년,저녁,단일로 - 기타

In [109]:
import pandas as pd

# 원본 데이터프레임에서 범주형 변수 열 선택
categorical_columns = ['요일', '법규위반', '노면상태', '기상상태', '사고유형_1', 
                       '가해운전자 연령대', '피해운전자 연령대', '사고시간대', '도로형태']  # 범주형 변수의 열 이름을 적절히 수정

# 범주형 변수 열에 대해 원핫인코딩 수행
onehot_encoded = pd.get_dummies(df[categorical_columns])

# 기존 데이터프레임과 원핫인코딩 결과 합치기
df_encoded = pd.concat([df, onehot_encoded], axis=1)

# 원핫인코딩 된 열 제거
df1 = df_encoded.drop(categorical_columns, axis=1)
df1

,시군구_구동,EPDO,cctv_count,bus_count,주차장_count,어린이보호구역_count,요일_금요일,요일_목요일,요일_수요일,요일_월요일,...,도로형태_교차로 - 교차로부근,도로형태_교차로 - 교차로안,도로형태_교차로 - 교차로횡단보도내,도로형태_기타 - 기타,도로형태_단일로 - 고가도로위,도로형태_단일로 - 교량,도로형태_단일로 - 기타,도로형태_단일로 - 지하차도(도로)내,도로형태_단일로 - 터널,도로형태_주차장 - 주차장
0,수성구 중동,6,7.0,1.0,1.0,3.0,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,북구 침산동,6,17.0,3.0,25.0,6.0,False,False,False,False,...,False,False,False,True,False,False,False,False,False,False
2,서구 내당동,12,9.0,3.0,0.0,8.0,False,False,True,False,...,False,True,False,False,False,False,False,False,False,False
3,중구 대신동,1,5.0,1.0,10.0,1.0,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
4,달서구 본리동,6,12.0,1.0,6.0,7.0,False,False,True,False,...,False,False,False,False,False,False,True,False,False,False
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3154,북구 칠성동2가,6,3.0,0.0,20.0,4.0,True,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3155,북구 침산동,6,16.0,3.0,25.0,6.0,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False
3156,중구 삼덕동2가,2,3.0,0.0,15.0,1.0,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3157,서구 내당동,9,8.0,3.0,0.0,8.0,True,False,False,False,...,False,False,False,False,False,False,True,False,False,False
3158,달서구 이곡동,3,23.0,2.0,4.0,13.0,True,False,False,False,...,True,False,False,False,False,False,False,False,False,False

In [110]:
df2 = df1[['시군구_구동', '요일_금요일', '요일_목요일', '요일_수요일', '요일_월요일', '요일_일요일',
       '요일_토요일', '요일_화요일', '법규위반_교차로운행방법위반', '법규위반_기타', '법규위반_보행자보호의무위반',
       '법규위반_불법유턴', '법규위반_신호위반', '법규위반_안전거리미확보', '법규위반_안전운전불이행', '법규위반_중앙선침범',
       '법규위반_직진우회전진행방해', '법규위반_차로위반', '노면상태_건조', '노면상태_기타', '노면상태_서리/결빙',
       '노면상태_적설', '노면상태_젖음/습기', '기상상태_기타', '기상상태_눈', '기상상태_맑음', '기상상태_비',
       '기상상태_흐림', '사고유형_1_차대사람 ', '사고유형_1_차대차 ', '사고유형_1_차량단독 ',
       '가해운전자 연령대_노년', '가해운전자 연령대_미분류', '가해운전자 연령대_장년', '가해운전자 연령대_중년',
       '가해운전자 연령대_청년', '가해운전자 연령대_청소년', '피해운전자 연령대_노년', '피해운전자 연령대_미분류',
       '피해운전자 연령대_장년', '피해운전자 연령대_중년', '피해운전자 연령대_청년', '피해운전자 연령대_청소년',
       '사고시간대_새벽', '사고시간대_오후', '사고시간대_저녁', '사고시간대_점심', '사고시간대_출근', '사고시간대_퇴근',
       '도로형태_교차로 - 교차로부근', '도로형태_교차로 - 교차로안', '도로형태_교차로 - 교차로횡단보도내',
       '도로형태_기타 - 기타', '도로형태_단일로 - 고가도로위', '도로형태_단일로 - 교량', '도로형태_단일로 - 기타',
       '도로형태_단일로 - 지하차도(도로)내', '도로형태_단일로 - 터널', '도로형태_주차장 - 주차장']]
df2.head()

,시군구_구동,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일,법규위반_교차로운행방법위반,법규위반_기타,...,도로형태_교차로 - 교차로부근,도로형태_교차로 - 교차로안,도로형태_교차로 - 교차로횡단보도내,도로형태_기타 - 기타,도로형태_단일로 - 고가도로위,도로형태_단일로 - 교량,도로형태_단일로 - 기타,도로형태_단일로 - 지하차도(도로)내,도로형태_단일로 - 터널,도로형태_주차장 - 주차장
0,수성구 중동,False,False,False,False,True,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
1,북구 침산동,False,False,False,False,False,False,True,False,False,...,False,False,False,True,False,False,False,False,False,False
2,서구 내당동,False,False,True,False,False,False,False,False,False,...,False,True,False,False,False,False,False,False,False,False
3,중구 대신동,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False
4,달서구 본리동,False,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,True,False,False,False

# 범주형 변수들 groupby sum

In [112]:
df3 = df2.groupby("시군구_구동").sum()
df3.head()

,요일_금요일,요일_목요일,요일_수요일,요일_월요일,요일_일요일,요일_토요일,요일_화요일,법규위반_교차로운행방법위반,법규위반_기타,법규위반_보행자보호의무위반,...,도로형태_교차로 - 교차로부근,도로형태_교차로 - 교차로안,도로형태_교차로 - 교차로횡단보도내,도로형태_기타 - 기타,도로형태_단일로 - 고가도로위,도로형태_단일로 - 교량,도로형태_단일로 - 기타,도로형태_단일로 - 지하차도(도로)내,도로형태_단일로 - 터널,도로형태_주차장 - 주차장
시군구_구동,,,,,,,,,,,,,,,,,,,,,
남구 대명동,22,22,28,34,17,27,27,4,6,8,...,24,43,13,10,0,0,84,3,0,0
남구 봉덕동,7,8,3,9,9,8,4,2,1,2,...,9,17,2,1,0,1,17,1,0,0
남구 이천동,3,1,5,1,3,4,6,0,0,0,...,2,4,4,1,0,0,12,0,0,0
달서구 갈산동,0,2,0,1,0,1,0,0,0,0,...,0,2,0,0,0,0,2,0,0,0
달서구 감삼동,3,6,10,10,7,7,7,2,1,0,...,5,17,2,5,0,0,21,0,0,0

In [118]:
df3.columns

Index(['요일_금요일', '요일_목요일', '요일_수요일', '요일_월요일', '요일_일요일', '요일_토요일', '요일_화요일',
       '법규위반_교차로운행방법위반', '법규위반_기타', '법규위반_보행자보호의무위반', '법규위반_불법유턴', '법규위반_신호위반',
       '법규위반_안전거리미확보', '법규위반_안전운전불이행', '법규위반_중앙선침범', '법규위반_직진우회전진행방해',
       '법규위반_차로위반', '노면상태_건조', '노면상태_기타', '노면상태_서리/결빙', '노면상태_적설',
       '노면상태_젖음/습기', '기상상태_기타', '기상상태_눈', '기상상태_맑음', '기상상태_비', '기상상태_흐림',
       '사고유형_1_차대사람 ', '사고유형_1_차대차 ', '사고유형_1_차량단독 ', '가해운전자 연령대_노년',
       '가해운전자 연령대_미분류', '가해운전자 연령대_장년', '가해운전자 연령대_중년', '가해운전자 연령대_청년',
       '가해운전자 연령대_청소년', '피해운전자 연령대_노년', '피해운전자 연령대_미분류', '피해운전자 연령대_장년',
       '피해운전자 연령대_중년', '피해운전자 연령대_청년', '피해운전자 연령대_청소년', '사고시간대_새벽', '사고시간대_오후',
       '사고시간대_저녁', '사고시간대_점심', '사고시간대_출근', '사고시간대_퇴근', '도로형태_교차로 - 교차로부근',
       '도로형태_교차로 - 교차로안', '도로형태_교차로 - 교차로횡단보도내', '도로형태_기타 - 기타',
       '도로형태_단일로 - 고가도로위', '도로형태_단일로 - 교량', '도로형태_단일로 - 기타',
       '도로형태_단일로 - 지하차도(도로)내', '도로형태_단일로 - 터널', '도로형태_주차장 - 주차장'],
      dtype='object')

In [128]:
df3.loc['중구 수창동', '사고시간대_새벽']

0

# 범주형변수 groupby sum 중에 max 값은 1, 나머지는 0

In [25]:
# 그룹별 열을 식별하여 처리
def set_max_to_one(df3, prefix):
    # prefix로 시작하는 열을 필터링
    group_cols = [col for col in df3.columns if col.startswith(prefix)]
    # 최대값을 가지는 열을 1로 설정하고 나머지는 0으로 설정
    df3[group_cols] = (df3[group_cols].eq(df3[group_cols].max(axis=1), axis=0)).astype(int)

# 그룹별로 최대값 처리
prefixes = ['요일_', '법규위반_', '노면상태_', '기상상태_', '사고유형_1', '가해운전자 연령대_', '피해운전자 연령대_','사고시간대_', '도로형태_']
for prefix in prefixes:
    set_max_to_one(df3, prefix)

# 연속형변수들 groupby

In [122]:
df4 = df1[['시군구_구동', 'EPDO', 'cctv_count', 'bus_count', '주차장_count',
       '어린이보호구역_count']]
# 그룹별 평균값 계산
mean_values = df4.groupby('시군구_구동').mean()

# 그룹별 항목 수 계산
count_values = df4.groupby('시군구_구동').size()

# 그룹별 epdo 최대값 계산
max_epdo_values = df4.groupby('시군구_구동')['EPDO'].max()

# 두 결과를 하나의 데이터프레임으로 합치기
result = mean_values.assign(Count=count_values, epdo_max=max_epdo_values)

result.rename(columns={'EPDO' : '실제_EPDO',
                       'Count' : '사고건수'}, inplace=True)
result

,실제_EPDO,cctv_count,bus_count,주차장_count,어린이보호구역_count,사고건수,epdo_max
시군구_구동,,,,,,,
남구 대명동,4.514124,68.141243,9.0,23.0,24.0,177,15
남구 봉덕동,4.937500,24.000000,3.0,10.0,7.0,48,18
남구 이천동,5.000000,7.130435,1.0,4.0,6.0,23,18
달서구 갈산동,4.500000,1.000000,0.0,7.0,0.0,4,6
달서구 감삼동,5.420000,15.200000,1.0,10.0,8.0,50,18
...,...,...,...,...,...,...,...
중구 수창동,2.714286,2.000000,0.0,6.0,1.0,7,6
중구 태평로1가,5.500000,1.000000,0.0,2.0,0.0,4,12
중구 태평로2가,2.750000,0.000000,0.0,4.0,0.0,4,6
중구 태평로3가,5.111111,1.000000,0.0,1.0,0.0,9,12
중구 포정동,6.250000,0.000000,0.0,5.0,0.0,4,9

# 연속병 변수와 범주형 변수 합치기

In [27]:
result_groupby = pd.concat([result, df3], axis=1)
# result_groupby1 = result_groupby.reset_index()
# result_groupby1.to_csv('result_groupby.csv', index = False, encoding = 'cp949')

In [29]:
result_groupby.columns

Index(['실제_EPDO', 'cctv_count', 'bus_count', '주차장_count', '어린이보호구역_count',
       '사고건수', 'epdo_max', '요일_금요일', '요일_목요일', '요일_수요일', '요일_월요일', '요일_일요일',
       '요일_토요일', '요일_화요일', '법규위반_교차로운행방법위반', '법규위반_기타', '법규위반_보행자보호의무위반',
       '법규위반_불법유턴', '법규위반_신호위반', '법규위반_안전거리미확보', '법규위반_안전운전불이행', '법규위반_중앙선침범',
       '법규위반_직진우회전진행방해', '법규위반_차로위반', '노면상태_건조', '노면상태_기타', '노면상태_서리/결빙',
       '노면상태_적설', '노면상태_젖음/습기', '기상상태_기타', '기상상태_눈', '기상상태_맑음', '기상상태_비',
       '기상상태_흐림', '사고유형_1_차대사람 ', '사고유형_1_차대차 ', '사고유형_1_차량단독 ',
       '가해운전자 연령대_노년', '가해운전자 연령대_미분류', '가해운전자 연령대_장년', '가해운전자 연령대_중년',
       '가해운전자 연령대_청년', '가해운전자 연령대_청소년', '피해운전자 연령대_노년', '피해운전자 연령대_미분류',
       '피해운전자 연령대_장년', '피해운전자 연령대_중년', '피해운전자 연령대_청년', '피해운전자 연령대_청소년',
       '사고시간대_새벽', '사고시간대_오후', '사고시간대_저녁', '사고시간대_점심', '사고시간대_출근', '사고시간대_퇴근',
       '도로형태_교차로 - 교차로부근', '도로형태_교차로 - 교차로안', '도로형태_교차로 - 교차로횡단보도내',
       '도로형태_기타 - 기타', '도로형태_단일로 - 고가도로위', '도로형태_단일로 - 교량', '도로형태_단일로 - 기타',
       '도로형태_단일로 - 지하차도(도로)내', '도로형태_단일로 - 터널', '도로형태_주차장 - 주차장'],
      dtype='object')

# epdo와 사고건수를 제외하고 x 프레임 형성

In [30]:
result_groupby

x = result_groupby[['cctv_count', 'bus_count', '주차장_count', '어린이보호구역_count',
        '요일_금요일', '요일_목요일', '요일_수요일', '요일_월요일', '요일_일요일',
       '요일_토요일', '요일_화요일', '법규위반_교차로운행방법위반', '법규위반_기타', '법규위반_보행자보호의무위반',
       '법규위반_불법유턴', '법규위반_신호위반', '법규위반_안전거리미확보', '법규위반_안전운전불이행', '법규위반_중앙선침범',
       '법규위반_직진우회전진행방해', '법규위반_차로위반', '노면상태_건조', '노면상태_기타', '노면상태_서리/결빙',
       '노면상태_적설', '노면상태_젖음/습기', '기상상태_기타', '기상상태_눈', '기상상태_맑음', '기상상태_비',
       '기상상태_흐림', '사고유형_1_차대사람 ', '사고유형_1_차대차 ', '사고유형_1_차량단독 ',
       '가해운전자 연령대_노년', '가해운전자 연령대_미분류', '가해운전자 연령대_장년', '가해운전자 연령대_중년',
       '가해운전자 연령대_청년', '가해운전자 연령대_청소년', '피해운전자 연령대_노년', '피해운전자 연령대_미분류',
       '피해운전자 연령대_장년', '피해운전자 연령대_중년', '피해운전자 연령대_청년', '피해운전자 연령대_청소년',
       '사고시간대_새벽', '사고시간대_오후', '사고시간대_저녁', '사고시간대_점심', '사고시간대_출근', '사고시간대_퇴근',
       '도로형태_교차로 - 교차로부근', '도로형태_교차로 - 교차로안', '도로형태_교차로 - 교차로횡단보도내',
       '도로형태_기타 - 기타', '도로형태_단일로 - 고가도로위', '도로형태_단일로 - 교량', '도로형태_단일로 - 기타',
       '도로형태_단일로 - 지하차도(도로)내', '도로형태_단일로 - 터널', '도로형태_주차장 - 주차장']]

# 전에 학습한 랜포 모델 가져와서 예측

In [31]:
import joblib


# 모델을 불러옵니다.
model_rf_불러오기 = joblib.load('random_forest_model.pkl')

# 불러온 모델을 사용하여 예측합니다.
y_test_pred_loaded = model_rf_불러오기.predict(x)

y_test_pred_loaded

array([3.88584849, 4.13062239, 4.38026312, 4.32750381, 4.58341902,
       4.37512151, 6.27188598, 4.3255224 , 4.0468486 , 4.39761904,
       4.27310335, 4.05347501, 4.64085224, 3.90416787, 4.27505169,
       3.99302125, 4.08279663, 4.38549024, 4.31809864, 4.14185036,
       5.56099777, 4.86750113, 4.30158466, 4.27197084, 6.01811937,
       4.40228862, 4.28484493, 4.39140341, 4.11311804, 4.35461591,
       4.33848107, 4.41488797, 4.27551995, 4.17050216, 6.54002199,
       4.34389327, 6.00219297, 4.38558026, 4.38848792, 4.41747057,
       4.39018911, 4.36713356, 4.40426752, 4.40470713, 4.96729397,
       4.34818433, 4.41186002, 4.33058598, 3.96658147, 6.92001419,
       4.88881843, 4.3649441 , 4.39386886, 5.51474111, 4.90949176,
       4.16366999, 4.4368141 , 6.18619397, 4.20425238, 4.2587679 ,
       6.56308165, 4.2289892 , 4.32611411, 4.19392019, 4.12998261,
       4.53716296, 4.36070692, 4.42329982, 3.92394805, 6.25779855,
       3.84951714, 4.32227306, 5.93687972, 5.33103549, 4.28217899,
       4.17626471, 3.93650842, 4.05331728, 4.35803416, 4.97020763,
       4.09661037, 4.02517563, 6.05059294, 4.40606933, 4.32382711,
       4.33502894, 4.32746001, 4.11533359, 4.46160654, 4.34369857,
       4.40396518, 4.14545371, 4.75997117, 4.18773005, 4.11639715,
       4.4343032 , 4.75260041, 5.23955802, 4.42158943, 4.79198894,
       4.81642681, 4.39605367, 4.38563704, 4.27545244, 4.50774618,
       4.37827146, 6.6456596 , 4.16977832, 4.38193756, 4.15414166,
       4.44543331, 4.79990674, 4.01743577, 4.73283772, 4.66839172,
       4.37308271, 4.89448357, 4.71585359, 4.3799318 , 4.37371681,
       4.87946376, 4.80340902, 6.23454074, 4.41327512, 4.29089279,
       4.3085059 , 4.2685758 , 4.33568548, 6.25820136, 6.15607072,
       4.46182626, 4.34460791, 5.03071166])

In [32]:
result_groupby['예측_epdo'] = y_test_pred_loaded
result_groupby.head()

,실제_EPDO,cctv_count,bus_count,주차장_count,어린이보호구역_count,사고건수,epdo_max,요일_금요일,요일_목요일,요일_수요일,...,도로형태_교차로 - 교차로안,도로형태_교차로 - 교차로횡단보도내,도로형태_기타 - 기타,도로형태_단일로 - 고가도로위,도로형태_단일로 - 교량,도로형태_단일로 - 기타,도로형태_단일로 - 지하차도(도로)내,도로형태_단일로 - 터널,도로형태_주차장 - 주차장,예측_epdo
시군구_구동,,,,,,,,,,,,,,,,,,,,,
남구 대명동,4.514124,68.141243,9.0,23.0,24.0,177,15,0,0,0,...,0,0,0,0,0,1,0,0,0,3.885848
남구 봉덕동,4.937500,24.000000,3.0,10.0,7.0,48,18,0,0,0,...,1,0,0,0,0,1,0,0,0,4.130622
남구 이천동,5.000000,7.130435,1.0,4.0,6.0,23,18,0,0,0,...,0,0,0,0,0,1,0,0,0,4.380263
달서구 갈산동,4.500000,1.000000,0.0,7.0,0.0,4,6,0,1,0,...,1,0,0,0,0,1,0,0,0,4.327504
달서구 감삼동,5.420000,15.200000,1.0,10.0,8.0,50,18,0,0,1,...,0,0,0,0,0,1,0,0,0,4.583419

# psi 상위 3개 지역

In [33]:
result_groupby['PSI']= ((result_groupby['예측_epdo'] - result_groupby['실제_EPDO']) *result_groupby['실제_EPDO'] * result_groupby['사고건수']) / result_groupby['epdo_max']
result_groupby_1 = result_groupby[['PSI', '예측_epdo', '실제_EPDO','사고건수', 'epdo_max' ]]
result_groupby_1.sort_values(by = 'PSI', ascending=False).head(3)

               PSI   예측_epdo   실제_EPDO  사고건수  epdo_max
시군구_구동
중구 수창동   11.222400  6.258201  2.714286     7         6
달서구 대천동  10.602135  6.271886  4.000000    14        12
서구 이현동   10.264707  4.335029  2.714286     7         3

In [34]:
result_groupby_1.sort_values(by = 'PSI', ascending=False).tail(3)

              PSI   예측_epdo   실제_EPDO  사고건수  epdo_max
시군구_구동
북구 태전동 -25.452460  4.053317  5.032258    62        12
서구 내당동 -27.775632  4.096610  4.940000   100        15
남구 대명동 -33.466158  3.885848  4.514124   177        15